.statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 60px auto;
    box-shadow: 0 3px 1px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 8%), 0 2px 2px rgb(0 0 0 / 12%);
    outline: none;
    border-radius: 2px;
}

.title{
color: rgb(37, 5, 5);
margin-top: 20px;
margin-bottom: 30px;
}

.statList{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(224, 174, 174);
}

.classItem{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100px;
    border: 1px solid palevioletred;
}

.label{
    display: flex;
    margin: 0 auto 10px auto;
    font-size: 14px;
}

.percentage{
    display: block;
    margin: 0 auto;
    font-size: 22px;

}

