.transactionHistory{
    width: 70%;
    margin: 30px auto;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #656665;
border: 16px solid #ECE9E0;
border-radius: 20px;
}



.th {
font-size: 18px;
padding: 10px;
    text-align: center;

}


.td {
background: #F5D7BF;
padding: 10px;
}
